.lecture-wrapper {
    display: flex;
    width: 100%;
}
.lecture-item {
    width: 33%;
}
.lecture {
    width: 100%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.lecture-image {
    width: 100%;
}
.lecture a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: whitesmoke;
    overflow: hidden;
}
.lecture a {
    cursor: pointer;
    color: white;
}
.lecture-image img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: top left;
}